// Configs
@import './config/variables';
@import './config/vendor';
@import './config/utils';
@import './config/general';
@import './config/bundle';
@import './config/default';

// Partials
@import './partials/header';

// Pages
@import './pages/home';
@import './pages/alaska';

// Blocks
@import './blocks/space';

// Wordpress
@import './config/wordpress';