* {
    font-family:  $app-font-primary;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Alterando o font-size na tag html para reduzir o tamanho da unidade REM afetando todo o site
html {
    font-size: 16px;
    scroll-behavior: smooth;
    // cursor: url(../img/cursor-default.svg), auto;

    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(sm) {
        font-size: 14px;
    }
}

body {
    width: 100%;
    margin: 0;
}

#app {
    position: relative;
}

a, button, img {
    outline: none !important;
}
a:hover, a:active, a:focus {
    outline: none !important;
}
input::-moz-focus-inner {
    border: none !important;
}

/* Barra de rolagem customizada */
::-webkit-scrollbar {
    width: calculateRem(8px);
    padding: calculateRem(2.5px);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: calculateRem(6px);
    border: var(--color-white) 1px solid;
    background-image: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 99%);
    box-shadow: inset calculateRem(2px) calculateRem(2px) calculateRem(5px) 0 rgba(var(--color-white), 0.5);
}

/* Seleção */
::-moz-selection {
    /* Code for Firefox */
    background: var(--color-primary);
    color: var(--color-white);
}

::selection {
    background: var(--color-primary);
    color: var(--color-white);
}

.wp-admin {
    ::selection {
        background: black;
        color: white;
    }
}