// Fonts
$app-font-primary: "Lato", sans-serif;

$font-size-root: 1em;
$font-size-base: 1rem;

// Media query breakpoints
$breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px
);

// Cores do tema
$color-primary: #f11d20;
$color-secondary: #000000;
$color-white: #ffffff;
$color-clean: #f5f5f5;
$color-dark: #18181c;
$color-base: #18181c;
$color-text: #3b3b3b;

// Colors Bootstrap Overwrite example
$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "white": $color-white
);